*

# except
!.gitignore
!*.jl
!*.m
!*.md

# even if in sub-dirs
!*/

# but never in these folders
*back/
*arch/
*.vscode/

# embedded repo
example/mirt/
example/toppe/
example/utils/
example/me/mirt/
example/me/toppe/
sequence/3DEPI/
sequence/PulCeq/

sequence/pulseq/
sequence/toppe/
sequence/me/3DEPI/
sequence/me/PulCeq/
sequence/me/pulseq/
sequence/me/toppe/
sequence/me/utils/

# don't track local changes to session.txt
example/sessions.txt
