*

# except
!.gitignore
!*.jl
!*.m
!*.md

# even if in sub-dirs
!*/

# but never in these folders
*back/
*arch/
*.vscode/

# embedded repo
**/mirt/
**/toppe/
example/utils/

**/3DEPI/
**/PulCeq/

**/pulseq/
sequence/me/utils/

# don't track local changes to session.txt
example/sessions.txt

##############
# ignore everything in this folder
example/me/*
# except for
!example/me/*.m
##############

